<!DOCTYPE html>
<html>
  <head>
    <title> Home | Ruby on Rails Tutorial Sample App </title>
  </head>
  <body>
    <h1>Static Page For Biophilia Fit</h1>
    <p> This is the art of the start. </p>
    <p> I need to figure out how to use the stylesheet for Ruby On Rails. </p>
  </body>
</html>
